.App .source-comment {
  color: #fff;
  font-size: 10px;
  text-decoration: none;
}

.App .source-comment a {
  color: #dfb228;
  text-decoration: none;
  font-weight: italic;
  transition: all 200ms ease;
}
