.tempOption {
  color: #006ec5;
  transition: all 150ms ease-in-out;
  text-align: right;
}

.tempOption .active {
  color: #2b8b7f;
  font-weight: 500;
}

.tempCelsius:hover,
.tempFahrenheit:hover {
  color: #2b8b7f;
  font-weight: 600;
  cursor: pointer;
}
